################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FootballLeaguesStandingsTableProject/.vs/FootballLeaguesStandingsTableProject/FileContentIndex
/FootballLeaguesStandingsTableProject.Browser
